ANNOTATION_FOLDER: "UEC_VOC_FORMAT/val/Annotations"
IMAGE_FOLDER: "UEC_VOC_FORMAT/val/JPEGImages"
DATA_FOLDER: "UECFOOD100"
N_LABELS: 100
LABEL_MAP_PATH: "map.pbtxt"

TRAIN_VAL_FOLDER: "UEC_VOC_FORMAT"
GOOGLE_FOLDER: "UEC_GOOLE_FORMAT"